body {
  padding-top: 5rem;
}

.Lider_logo {
  color: aquamarine;
  padding-left: 60px;
  padding-right: 60px;

}

.container {
  background-color: #0d56a0!important;
}

.searchtextinput{
  padding-top: 50px;
}

#searchtextinput{
  margin-top: 0%;
  background-color: blue;
}